<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tinder TD</title>

  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/chat.css">

</head>
<body>
  
  <div class="container">
    <div class="save-zone">

      <!-- Menu buttons -->

      <div class="row space-between align-center">

        <a href="/matches" class="align-center"><img class="icon-button" id="user-button" src="/img/icons/angle-left-solid.svg" alt="Terug"></a>

        <img class="small_logo" src="/img/tinderTD_logo_kleur.svg" alt="Tinder TD logo">

        <div></div>

      </div>

      <!-- Content -->

      <h1>Miguel Billiet</h1>

      <div class="chat-container">

        <!-- Chats -->

        <div class="row">
          <span class="chat chat-gray">Inkomend bericht 1</span>
        </div>

        <div class="row justify-right">
          <span class="chat chat-color">Uitgaand bericht 2</span>
        </div>

        <div class="row">
          <span class="chat chat-gray">Inkomend bericht 3</span>
        </div>

        <div class="row justify-right">
          <span class="chat chat-color">Uitgaand bericht 4</span>
        </div>

        <div class="row">
          <span class="chat chat-gray">Inkomend bericht 5</span>
        </div>

        <div class="row justify-right">
          <span class="chat chat-color">Uitgaand bericht 6</span>
        </div>

        <div class="row">
          <span class="chat chat-gray">Inkomend bericht 7</span>
        </div>

        <div class="row justify-right">
          <span class="chat chat-color">Uitgaand bericht 8</span>
        </div>

        <div class="row">
          <span class="chat chat-gray">Inkomend bericht 9</span>
        </div>

        <div class="row justify-right">
          <span class="chat chat-color">Uitgaand bericht 10</span>
        </div>

        <div class="row">
          <span class="chat chat-gray">Inkomend bericht 11</span>
        </div>

        <div class="row justify-right">
          <span class="chat chat-color">Uitgaand bericht 12</span>
        </div>

        <div class="row">
          <span class="chat chat-gray">Inkomend bericht 13</span>
        </div>

        <div class="row justify-right">
          <span class="chat chat-color">Uitgaand bericht 14</span>
        </div>

        <!-- End chats -->

      </div>

      <!-- textbox -->

      <form class="chat-textbox-container">
        <div class="row space-between" style="flex: 4">
          <textarea name="chat-textbox" id="chat-textbox" rows="1" placeholder="Schrijf een bericht" style="flex-grow: 3;"></textarea>
          <button style="flex-grow: 1;">Send</button>
        </div>
      </form>

    </div>
  </div>

</body>
</html>