<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tinder TD</title>

  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/index.css">

</head>
<body>
  
  <div class="container">
    <div class="save-zone">



      <div class="row space-evenly">
        <img class="schild" src="/img/enigma_schild.png" alt="Enigma schild">
        <img class="schild" src="/img/mj_schild.png" alt="Manu juvanta schild">
      </div>

      <div class="row space-evenly">
        <h1>Presenteren</h1>
      </div>

      <div class="row space-evenly">
        <img class="logo" src="/img/tinderTD_logo.svg" alt="Tinder TD logo">
      </div>

      <div class="center collumn">

          <a class="button" href="/register">Registreren</a>
          <a class="button" href="/login">Aanmelden</a>
        
      </div>

    </div>
  </div>

</body>
</html>