<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tinder TD</title>

  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/form.css">

</head>
<body>
  
  <div class="container">
    <div class="save-zone">

      <div class="collumn">
        <h1>Login</h1>
        <p></p>
      </div>

      <span id="status" class="status"></span>

      <form>
        <div class="collumn">

          <label for="email">Email</label>
          <input type="email" name="email" id="email">

          <label for="password">Wachtwoord</label>
          <input type="password" name="password" id="password">

        </div>

        <div class="bottom-bar row align-center space-between">
          <a href="/register">Registreren</a>
          <span class="button" id="login">Login</span>
        </div>

      </form>

    </div>
  </div>

  <script src="script/main.js"></script>
  <script src="script/login.js"></script>

</body>
</html>