<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tinder TD</title>

  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/mainScreen.css">

</head>
<body>
  
  <div class="container">
    <div class="save-zone">

      <!-- Menu buttons -->

      <div class="row space-between align-center">

        <a href="/user"><img class="icon-button" id="user-button" src="/img/icons/user.svg" alt="Gebruiker"></a>

        <img class="small_logo" src="/img/tinderTD_logo_kleur.svg" alt="Tinder TD logo">

        <a href="/matches"><img class="icon-button" id="message-button" src="/img/icons/comment.svg" alt="Berichten"></a>

      </div>


      <!-- Content -->

      <div class="row">

        <!-- card -->

        <div class="card" id="render-card">

          <!-- <div class="picture-container">
            <img src="/img/users/1.jpg" alt="User name">
          </div>

          <div class="card-details">
            <h2>Miguel, 26</h2>
            <span class="detail">Job / Studies</span>
            <span class="detail">Kring</span>
            <span class="bio">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt laborum quisquam suscipit amet ex nesciunt magnam ullam dolores sapiente maiores nobis voluptatibus dolorum.</span>
          </div> -->

        </div>

        <!-- end card -->

      </div>

      <div class="bottom-bar row space-evenly" id="bottom-bar">

        <span class="main-button shadow" id="dislike"><img src="/img/icons/x-solid.svg" alt=""></span>
        <span class="main-button shadow" id="superlike"><img src="/img/icons/star-solid.svg" alt=""></span>
        <span class="main-button shadow" id="like"><img src="/img/icons/heart-solid.svg" alt=""></span>

      </div>


    </div>
  </div>

  <script src="script/main.js"></script>
  <script src="script/mainScreen.js"></script>

</body>
</html>