$DEV : false;

html, body{
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;

  height: 100vh;
  margin: 0;
  padding: 0;
}

body{
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
  font-family: 'Montserrat', sans-serif;

  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.container{
  background-color: rgba(247, 247, 250, 1);
  position: relative;
}

a{
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .container{
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 600px) {
  body{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container{
    width: 500px;
    max-height: 900px;
    height: 100%;
    border-radius: 10px;

    box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.15);
  }
}

.save-zone{
  top: 15px;
  bottom: 30px;
  left: 15px;
  right: 15px;
  position: absolute;
  // overflow: hidden;

  @if $DEV {
    // background-color: rgba(0,255,0,0.2);
  }
}


@if $DEV {
  * {
    box-shadow: 0px 0px 0px 1px rgba(0,255,0,1) inset;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,255,0,1) inset;
    -moz-box-shadow: 0px 0px 0px 1px rgba(0,255,0,1) inset;
  }
}


.row{
  display: flex;
  width: 100%;
}

.collumn{
  * {
    display: block;
  }
}

.center{
  * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}


// flexbox stuff
.space-evenly{
  justify-content: space-evenly;
}

.space-between{
  justify-content: space-between;
}

.justify-right{
  justify-content: flex-end;
}

.align-center{
  align-items: center;
}

.flex-direction-column{
  flex-direction: column;
}


// andere
.blocked{
  opacity: 0.3;
  pointer-events: none;
}

.button{
  text-decoration: none;
  color:#fd267d;
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;

  margin-top: 10px;
  margin-bottom: 10px;
  
  width: -moz-min-content;
  width: -webkit-min-content;
  width: min-content;

  &:hover{
    cursor: pointer;
  }
}

.small_logo{
  height: 35px;
  width: auto;
}

.icon-button{
  width: auto;
  height: 30px;
}

.shadow{
  box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.15);
}

.scroll-x{
  overflow-x: scroll;
}

hr{
  border: 0.5px solid #b2bec3;
  margin: 20px 0px;
}

.bottom-bar{
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
