<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tinder TD</title>

  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/chat.css">

</head>
<body>
  
  <div class="container">
    <div class="save-zone">

      <!-- Menu buttons -->

      <div class="top-bar row space-between align-center">
        
        <a href="/matches" class="align-center"><img class="icon-button" id="user-button" src="/img/icons/angle-left-solid.svg" alt="Terug"></a>

        <img class="small_logo" src="/img/tinderTD_logo_kleur.svg" alt="Tinder TD logo">

        <div></div>

      </div>

      <!-- Content -->

      <div class="content">

        <!-- <h1>Miguel Billiet</h1> -->

        <div class="chat-container">

          <!-- Chats -->

          <!-- <div class="row">
            <span class="chat chat-gray">Inkomend bericht 1</span>
          </div>

          <div class="row justify-right">
            <span class="chat chat-color">Uitgaand bericht 2</span>
          </div> -->

          <p style="text-align: center; padding: 20px 0px">Helaas is dit net niet afgeraakt...<br/>Maar waarom chatten als we elkaar in het echt kunnen spreken?</p>

          <!-- End chats -->

        </div>

      </div>

      <!-- textbox -->

      <!-- <div class="bottom-bar row">
        <form class="chat-textbox-container">
          <div class="row space-between" style="flex: 4">
            <textarea name="chat-textbox" id="chat-textbox" rows="1" placeholder="Schrijf een bericht" style="flex-grow: 3;"></textarea>
            <button style="flex-grow: 1;">Send</button>
          </div>
        </form>
      </div> -->

    </div>
  </div>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script> -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
    integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4="
    crossorigin="anonymous"
  ></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="script/main.js"></script>
  <script src="script/chat.js"></script>

</body>
</html>